
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}


h1, h2, h3, .main-title {
  font-family: 'Playfair Display', serif;
}


.subtitle {
  font-family: 'Libre Baskerville', serif;
}


body, p, .desc {
  font-family: 'Roboto', sans-serif;
}
