.seafarer-header {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 10;
  font-family: 'Lato', sans-serif;
  color: white;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 60px 10px 60px;
  background-color: rgba(255, 255, 255, 0.95); /* semi-transparent white */
  backdrop-filter: blur(10px); /* glassmorphic effect */
  border-bottom: 2px solid #c6a87c; /* gold theme border */
  width: 100%;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}

.nav-menu {
  list-style: none;
  display: flex;
  gap: 32px;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
}

.nav-menu a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  transition: all 0.3s ease-in-out;
  margin-top: 0;
}

.nav-menu a:hover {
  opacity: 0.7;
  transform: scale(1.05);
}

.logo {
  font-family: 'Dancing Script', cursive;
  width: 300px;
}

.nav-left {
  display: flex;
  align-items: center;
  padding: 0rem;
}

.nav-center {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  flex-grow: 1;
}

.search-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #333;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
  gap: 8px;
}

.search-icon {
  width: 20px;
  height: 20px;
  stroke: #333;
}

.nav-left a {
  font-size: 14px;
  color: #333;
  text-transform: uppercase;
}

.nav-icons-fixed {
  position: fixed;
  top: 30%;
  right: 0px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  transform: translateY(-50%);
  z-index: 999;
}

.square-icon {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  transition: all 0.4s ease;
  cursor: pointer;
}

.square-icon:hover {
  transform: scale(1.1);
  opacity: 0.8;
}

.pink {
  background-color: #c31a44;
  color: white;
}

.white {
  background-color: white;
  color: #c31a44;
}

.icon {
  font-size: 20px;
}
